
body{
    background-image: url(./img/background\ image\ for\ html.png);
    background-size: cover;
}


.container-of-all{
    width: 70%;
    padding: 1px;
    margin-left: 24.5%;
    margin-top: 10.5%;
}

#home-img{
    position: absolute;
    margin-top: -122px;
}





/* Dropdown content*/

.navbar{
    position: relative;
    margin-top: -5%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
}



.drop-list {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color: #333;
    padding: 0.5vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}
  
.dropdown {
    float: left;
    padding-left: 0.6vw;
    padding-right: 0.58vw;
}
  
.dropdown a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(25, 0, 255);
}
  
.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}



/*-------------------Inside box----------------------*/




.in-page{
    background-image: url("./img/back2.png");
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid;
    max-width: 49vw;
    min-height: 31vw;
    max-height: 31vw;
}

    /*flexbox*/
    .flexbox1{
        position: relative;
        display: flex;
    }

    #covid{
        margin-top: 5vw;
    }

    .text{
        margin-top: 5vw;
        margin-left: 6vw;
       
        max-width: 20vw;
    }


    .search{
        position: absolute;
        left: 75%;
        top: 0;
        margin-top: 1%;
        width: 100px;
    }


    .searchbtn{
        position: absolute;
        
        margin-top: 10px;
        left: 90%;
    }

    /*breifcases*/


    .links{
        position: relative;
        display:flex;
        gap: 1rem;
        width: 60%;

    }
    
    
    .blink{
        font-size: 12px;
        text-align: center;
        flex: 1;
        padding: 0.2vw;
        border: 2px solid;

        margin-top: 1vw;
        
        background-color:   gray;
        color: black;

        border-radius: 20px;

        max-height: 4vw;

    }

    .dec-imgs{
        position: relative;
    }

    .dec-img-hor{
        position: absolute;
    }

    .dec-img-ver{
        position: absolute;
        top: -10vw;
    }

    .dec-img-hor{
        position: absolute;
        top: 0vw;
        margin-top: 14%;
        left: 60%;
    }

    




















/*------------------- scc yposelidwn------------------------------*/

.epilogh-proorismou-bg{
    position: relative;
    width: 100%;
}


/*text selides*/

#text-pages-h3{
    background-color: #6E6E6E;
    padding: 1vw;
    margin-top: -1.2vw;
    font-size: 0.8vw;
    color: #4BC7E9;
    margin-bottom: 0px;
}



.ekd-text{
    width: 40%;
    position: relative;
    top: 0vw;
    margin-top: 10%;
    left: 10%;

    height: 20vw;
    
    overflow: auto;

}

#ekdotirio{
    padding: 0.5vw;
    color: #47C7EC;
    text-align: center;
    width: 12vw;
    background-color: #6E6E6E;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.2px solid;
}

#ekd-par{
    padding: 1vw;
    margin-top: -20px;
    background-color: #6E6E6E;
    font-size: 0.7vw;

    color: white;

}

.oroi-png{
    margin-left:5.5vw;
}



/*xartes*/

#map-areas{
    z-index: 10000;
    opacity: 1;
    color: black;
    background-color: black;
}

#map-areas:hover{
    background-color: black;
}

#xarths-ell{
    position: relative;
    width: 70%;
}

#xarths-eks{
    position: relative;
    width: 70%;
    height: 100%;
}

#eswteriko-par{
    margin: 2vw;
    font-size: 0.8vw;
    position: relative;
    margin-top: 6vw;
    height: 60%;

    background-color: #D5EDF7;
    padding: 0.5vw;

    border-top: 1.5vw solid #4BC7E9;
    border-radius: 10px;

}




/*----- dropdown stin selida table-----*/

.dropselect{
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

#head{

    font-size: 0.7vw;
    padding: 10px;
}

#redirect-btn{
    margin-left: 20px;
}





































/* TABLES */

.table-container{
    position: absolute;
    margin-top: 40px;
    left: 40%;
    margin-right: 20px;
    background-color: #6D6E70;

    height: 500px;

    width: 58%;

}

.note{
    color: white;
    font-size: 0.6vw;
    text-align: center;
    margin: 20px;
    margin-bottom: 10px;
}

.table2{
    background-color: #6D6E70;
    margin: 20px;
    font-size: 0.7vw;
}

.table2 > tr > td{
    color: white;
}

.tr{
    color: white;
    padding-left: 10px;
}

.first > th{
    width: 10%;
    padding: 10px;
    border: 1px solid black;
    background-color: #FFFFFF;
}






.pinakas-timwn{
    display: flex;
    font-size: 0.7vw;
    margin-top: 200px;

}

.titloi-timwn{
    padding: 3px;
    margin: 0;
}

#protos-pinakas{
    background-color: #AEDDE2;
    margin: 7px;

    display: block;
    
}

.timh{
    position: relative;
    margin-left: 6.3vw;
    margin-top: -0.85vw;
    margin-right: 10px;

}

#plirofories{
    background-color: #AEDDE2;
    margin: 7px;
    margin-top: 0px;
    text-align: center;
}


.title-par{
    margin: 2vw;
    margin-top: 3vw;
    font-size: 0.8vw;
    position: relative;
    width: 80%;
    margin-bottom: 0;
    background-color: #4BC7E9;
    color: black;
    padding: 9.5px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title-par2{
    margin: 2vw;
    margin-top: -5%;
    font-size: 0.8vw;
    position: relative;
    width: 80%;
    margin-bottom: 0;
    background-color: #4BC7E9;
    color: black;
    padding: 9.5px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}

.title-par2:hover{
    cursor: pointer;
}

.par-cont{
    display: inline-block;
}

#par{
    margin: 2vw;
    margin-top: 0;
    font-size: 0.7vw;
    position: relative;
    width: 80%;

 

    background-color: #D5EDF7;
    padding: 0.5vw;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#par2 {
    margin: 2vw;
    margin-top: 0;
    font-size: 0.7vw;
    position: relative;
    width: 80%;

    transition: 0.5s;

    display: block;

 

    background-color: #D5EDF7;
    padding: 0.5vw;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#par3 {
    margin: 2vw;
    margin-top: 0;
    font-size: 0.7vw;
    position: relative;
    width: 80%;

    transition: 0.5s;

    display: none;

 

    background-color: #D5EDF7;
    padding: 0.5vw;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#apar{
    font-size: 0.7vw;
    color: white;
    padding-left: 10px;
}






